<div>
  <div class="sm:flex">
    <%= label %>
    <%= field %>
  </div>
  <% if description? %>
    <div class="sm:flex justify-end mt-2">
      <div class="sm:w-2/3"><%= description %></div>
    </div>
  <% end %>
</div>
